* {
    font-size: 12px;
}

.card-body{
    font-size: 10em;
}



.

ins {
    text-decoration: none;
  }



.list{
   list-style: none; 
}


.box {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100px;
    margin: auto;
    padding-top: 5px;
}

.favorable{
    background-color: green;
    color: white;
}

.moderate {
    background-color: yellow;
}

.severe {
    background-color: red;
    color: white
}


.weather-card {
    font-size: 10px;
}