* {
    font-size: 12px;
}

.card-body{
    font-size: 10em;
    background-color: green;
}

ins {
    text-decoration: none;
  }

li{
   list-style: none; 
}

.box {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100px;
    margin: auto;
    padding-top: 5px;
    background-color: hotpink;
}

.favorable{
    background-color: green;
    color: white;
}

.moderate {
    background-color: yellow;
}

.severe {
    background-color: red;
    color: white
}

.weather-card {
    font-size: 10px;
    background-color: indigo;
}

.container {
    background-color: khaki;
}

.row {
    background-color: grey;
}

.col {
    background-color: hotpink;
}