* {
    font-size: 10px;
}

.card-body{
    font-size: 2em;
}

.container{
    background-color: red;
}

.row {
    background-color: salmon;
    padding: 1rem;
    border: 2px black solid;
       
}

ins {
    text-decoration: none;
  }
.col {
    background-color: blue;
    color: white;
    display: inline;
       }

.list{
   list-style: none; 
}


.box {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100px;
    margin: auto;
    padding-top: 5px;
}


